
body {
  background-image: url("https://img.spoonflower.com/c/9314976/p/f/m/u6Ws8R52g76UBfmQ8BPTwfLcXrws72l5bBmGnoFRJvFE_FXOX0SdpmaA/Iowa%20State%20Shape%20Stripes%20Dark%20Blue%20and%20White%20Stripes.jpg");
color: aliceblue;
  margin: 0px 0px 0px 0px;
  
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body { 
  margin: 0;
  height: 100vh; }
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
  gap: 20px;
    
}
.navbar a{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: aliceblue;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    
}


.navbar a:hover{
    background-color:gray;
    transform: scale(1.1);
}

.navbar li{
    float: left;
}

h1 {
    color: aliceblue;
}

div.transbox {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 20px auto;
  padding: 20px;
  max-width: 1300px;
}

h3 {
    float: right;
}


body {
  color: white; 
  -webkit-text-stroke: .75px black; 
  font-weight: bold;
}

table { background-color: black;
color: white;}

* {
  box-sizing: border-box;
}

.container {
  position:fixed;
}


.mySlides {
  display: none;
}


.cursor {
  cursor: pointer;
}


.prev,.next {
  cursor: pointer;

  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16.66%;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img{
  width:50% !important;
  height:50%;
  background-size: 50%;
}



.whyiowa{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  flex-wrap:nowrap;
}

img {
  /* 1. Add a solid border: thickness, style, and color */
  border: 7.5px solid white; 

  /* 2. Round the corners: use px for soft corners or 50% for a circle */
  border-radius: 20px; 
}









/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1{
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: black;
  border: 2px solid white;
  color: white;
  -webkit-text-stroke: .75px white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 20px;
  display: flex;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

button:hover{
    background-color:rgb(83, 80, 80);
     transform: scale(1.1);
}