/* Add Global styles here */
body {
  background-image: url("https://img.spoonflower.com/c/9314976/p/f/m/u6Ws8R52g76UBfmQ8BPTwfLcXrws72l5bBmGnoFRJvFE_FXOX0SdpmaA/Iowa%20State%20Shape%20Stripes%20Dark%20Blue%20and%20White%20Stripes.jpg");
color: aliceblue;
  margin: 0px 0px 0px 0px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: aliceblue;
}


.navbar a:hover{
    background-color:gray;
}

.navbar li{
    float: left;
}

h1 {
    color: aliceblue;
}

div.transbox {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
}

div.transbox {
  margin: 0;
  padding: 0;
}


h3 {
    float: right;
}

img {
    float:left;
}

h2, h3, h4, h5, h6, p, ol {
    background-color: black;
    color: aliceblue;
}
